body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#my-svg {
	width: 100%;
	height: 500px;
	border: solid 1px black;
}

svg {
	width: 100%;
	height: 100%;
}

.strategy-btn {
    width: 100px;
}