<!DOCTYPE html>
<html data-ng-app="mainMod">
<head>
    <title>Monkey SVG Editor</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<div id="content">
		<div class="container">

			<div class="page-header">
            <img src="/assets/img/monkey.png" style="width: 50px; height: 50px; float: left; margin-right: 15px;">
			  <h2>Monkey SVG Editor</h2>
			</div>

			<div data-ng-controller="SvgController">
                <div id="my-svg" my-svg=""></div>
				<br />

                <div class="btn-group" data-toggle="buttons">
                    <label class="strategy-btn btn btn-primary" ng-click="setStrategy('select')" ng-class="{ 'active' : strategy == 'select' }">
                        <input type="radio"> Select
                    </label>
                    <label class="strategy-btn btn btn-primary" ng-click="setStrategy('circle')" ng-class="{ 'active' : strategy == 'circle' }">
                        <input type="radio"> Circle
                    </label>
                    <label class="strategy-btn btn btn-primary" ng-click="setStrategy('rectangle')" ng-class="{ 'active' : strategy == 'rectangle' }">
                        <input type="radio"> Rectangle
                    </label>
                </div>

                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" ng-click="setColor('#FF0000')" ng-class="{ 'active' : bgColor == '#FF0000' }">
                        <input type="radio">
                        <span class="glyphicon glyphicon-stop" style="color: #FF0000;"></span>
                    </label>
                    <label class="btn btn-primary" ng-click="setColor('#00FF00')" ng-class="{ 'active' : bgColor == '#00FF00' }">
                        <input type="radio">
                        <span class="glyphicon glyphicon-stop" style="color: #00FF00;"></span>
                    </label>
                    <label class="btn btn-primary" ng-click="setColor('#0000FF')" ng-class="{ 'active' : bgColor == '#0000FF' }">
                        <input type="radio">
                        <span class="glyphicon glyphicon-stop" style="color: #0000FF;"></span>
                    </label>
                    <label class="btn btn-primary" ng-click="setColor('#FFFF00')" ng-class="{ 'active' : bgColor == '#FFFF00' }">
                        <input type="radio">
                        <span class="glyphicon glyphicon-stop" style="color: #FFFF00;"></span>
                    </label>
                    <label class="btn btn-primary" ng-click="setColor('#00FFFF')" ng-class="{ 'active' : bgColor == '#00FFFF' }">
                        <input type="radio">
                        <span class="glyphicon glyphicon-stop" style="color: #00FFFF;"></span>
                    </label>
                    <label class="btn btn-primary" ng-click="setColor('#FF00FF')" ng-class="{ 'active' : bgColor == '#FF00FF' }">
                        <input type="radio">
                        <span class="glyphicon glyphicon-stop" style="color: #FF00FF;"></span>
                    </label>
                </div>

                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="clear()">Clear</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="load()">Load</button>
                    </div>
                </div>

			</div>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script src="/lib/model/module.js"></script>
    <script src="/lib/model/list.js"></script>

	<script src="/lib/draw/module.js"></script>
	<script src="/lib/draw/bounding_box.js"></script>
	<script src="/lib/draw/component.js"></script>
	<script src="/lib/draw/container.js"></script>
	<script src="/lib/draw/circle.js"></script>
	<script src="/lib/draw/rectangle.js"></script>
	<script src="/lib/draw/selection.js"></script>

	<script src="/lib/toolbar/module.js"></script>
	<script src="/lib/toolbar/strategy.js"></script>
	<script src="/lib/toolbar/selection_strategy.js"></script>
	<script src="/lib/toolbar/circle_strategy.js"></script>
	<script src="/lib/toolbar/rectangle_strategy.js"></script>

	<script type="text/javascript">
		var mod = angular.module('mainMod', []);

		mod.controller('SvgController', SvgController);

		mod.directive('mySvg', function() {
			function drawSvg(scope, element, attrs) {
				var svg = d3.select(element[0]).append('svg');
                var isDrag = false;

				$('#my-svg').on('click', function(e) {
					var x = e.pageX - $(this).offset().left;
					var y = e.pageY - $(this).offset().top;

                    scope.toolbarStrategy.onMouseClick(scope, x, y);
				});

                $('#my-svg').on('mousedown', function(e) {
                    var x, y;

                    e.preventDefault();

                    x = e.pageX - $(this).offset().left;
                    y = e.pageY - $(this).offset().top;

                    scope.toolbarStrategy.onDragStart(scope, x, y);
                    isDrag = true;
                });

                $('#my-svg').on('mouseup', function(e) {
                    var x, y;

                    e.preventDefault();

                    x = e.pageX - $(this).offset().left;
                    y = e.pageY - $(this).offset().top;

                    scope.toolbarStrategy.onDragEnd(scope, x, y);
                    isDrag = false;
                });

                $('#my-svg').on('mousemove', function(e) {
                    var x, y;

                    e.preventDefault();

                    if (isDrag) {
                        x = e.pageX - $(this).offset().left;
                        y = e.pageY - $(this).offset().top;

                        scope.toolbarStrategy.onDrag(scope, x, y);
                    }
                });

				scope.render = function() {
					svg.selectAll('*').remove();

					for (var i = 0; i < scope.shapeList.size(); i++) {
						var shape = scope.shapeList.get(i).paintComponent(svg);
						shape.attr('mod', i);
					}
				};

				scope.render();
			}

			return {
				restrict: 'A',
				link: drawSvg
			};
		});

		function SvgController($scope) {
            $scope.strategy = 'select';
            $scope.toolbarStrategy = new toolbar.SelectionStrategy();
            $scope.bgColor = '#FF0000';

            $scope.shapeList = new model.List();

            $scope.setColor = function(color) {
                $scope.bgColor = color;
                $scope.toolbarStrategy.backgroundColorChanged($scope);
            };

            $scope.setStrategy = function(strategy) {
                $scope.strategy = strategy;

                switch (strategy) {
                    case 'select':
                        $scope.toolbarStrategy = new toolbar.SelectionStrategy();
                        break;
                    case 'circle':
                        $scope.toolbarStrategy = new toolbar.CircleStrategy();
                        break;
                    case 'rectangle':
                        $scope.toolbarStrategy = new toolbar.RectangleStrategy();
                        break;
                    default:
                        throw 'illegal strategy: ' + strategy;
                }
            };

            $scope.clear = function() {
                $scope.shapeList = new model.List();
                $scope.render();
            };

            $scope.save = function() {
                var i,
                    a = new Array(),
                    shapeList = $scope.shapeList.getAll();

                for (i = 0; i < shapeList.length; i++) {
                    a[i] = shapeList[i].marshall();
                }

                localStorage['shapeList'] = JSON.stringify(a);
            };

            $scope.load = function() {
                var a = JSON.parse(localStorage['shapeList']),
                    i;

                $scope.clear();

                for (i = 0; i < a.length; i++) {
                    switch (a[i]['type']) {
                        case 'Circle':
                            $scope.shapeList.push(draw.Circle.prototype.unmarshall(a[i]));
                            break;
                        case 'Rectangle':
                            $scope.shapeList.push(draw.Rectangle.prototype.unmarshall(a[i]));
                            break;
                        default:
                            throw 'illegal type';
                    }
                }

                $scope.render();
            };
		}

	</script>
</body>
</html>